a {
  box-sizing: border-box;
  color: #0082ff;
  cursor: pointer;
  height: 2.25rem;
  line-height: 2.25rem;
  margin: 0;
  padding: 0;          
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;            
}

a.disabled {
  color: var( --disabled-text-color );;          
  cursor: default;
}

a.inline {
  text-decoration: underline;  
}
