aa-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 4rem 1rem 0.50rem 1rem;
}

aa-header div:last-of-type {
  margin-left: auto;
}

aa-header h3 {
  cursor: pointer;
  transition: color 0.25s linear;
}

aa-header h3:hover {
  color: var( --secondary-text-color );
}
